#order画面
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<body>
  <main>
    <div class="container my-4 mt-5">
      <a href="#" class="btn btn-secondary py-0">直近3ヶ月の注文を表示</a>
    </div>

    <div class="container">
      <hr style="width:90%; opacity:0.9;">
      <table class="table">
        <thead class="table h4">

          <tr>
            <th class="text-start" width="5%">
              No
            </th>
            <th class="text-start" width="20%">
              注文番号
            </th>
            <th class="text-start" width="40%">
              お届け先
            </th>
            <th class="text-start" width="25%">
              備考
            </th>
            <th class="text-start border-0" width="20%"></th>
          </tr>

        </thead>
        <tbody class="h6 font-weight-normal">
          <tr>
            <th class="font-weight-normal" scope="row">
              1
            </th>
            <td class="text-left">
              1234567890
            </td>
            <td class="text-left">
              〒○○○-○○○○<br />富山県南砺市○○ ○-○-○<br />○○ ✕✕ 様
            </td>
            <td class="text-left">
              注文日時：2020/10/16<br />注文状態：準備中
            </td>
            <td class="border-0 align-middle">
              <a href="#" class="btn btn-primary btn-sm">詳細</a>
            </td>
          </tr>

          <tr>
            <th class="font-weight-normal" scope="row">
              2
            </th>
            <td class="text-left">
              1685479246
            </td>
            <td class="text-left">
              〒○○○-○○○○<br />富山県南砺市○○ ○-○-○<br />○○ ✕✕ 様
            </td>
            <td class="text-left">
              注文日時：2020/09/05<br />注文状態：準備中
            </td>
            <td class="border-0 align-middle">
              <a href="#" class="btn btn-primary btn-sm">詳細</a>
            </td>
          </tr>

          <tr>
            <th class="font-weight-normal" scope="row">
              3
            </th>
            <td class="text-left">
              169586325
            </td>
            <td class="text-left">
              〒○○○-○○○○<br />富山県南砺市○○ ○-○-○<br />○○ ✕✕ 様
            </td>
            <td class="text-left">
              注文日時：2020/08/21<br />注文状態：準備中
            </td>
            <td class="border-0 align-middle">
              <a href="#" class="btn btn-primary btn-sm">詳細</a>
            </td>
          </tr>

          <tr>
            <th class="font-weight-normal" scope="row">
              4
            </th>
            <td class="text-left">
              169586325
            </td>
            <td class="text-left">
              〒○○○-○○○○<br />富山県南砺市○○ ○-○-○<br />○○ ✕✕ 様
            </td>
            <td class="text-left">
              注文日時：2020/04/16<br />注文状態：準備中
            </td>
            <td class="border-0 align-middle">
              <a href="#" class="btn btn-primary btn-sm">詳細</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container">
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item active">
            <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </div>
  </main>
</body>

#order_not_found
<body>
  <main>
    <div class="container">
      <div class="jumbotron text-center bg-white"></div>
      <div class="mt-5 text-center">
        <h1>該当の注文は見つかりませんでした…</h1>
        <p class="mt-5">注文履歴画面に戻り、やり直してください</p>
        <button type="button" class="btn btn-primary">注文履歴へ</button>
      </div>
    </div>
    </div>
  </main>
</body>

</html>

